@use "_variables" as vars;

.dashboard {
  min-height: 100vh;
  display: grid;
  grid-template-columns: vars.$sidebar-width 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";

  > header {
    grid-area: header;
  }

  > .sidebar {
    grid-area: sidebar;
  }

  > main {
    grid-area: main;
  }
}
