@use "_variables" as vars;
@use "_mixins";

.page-header {
  background-color: vars.$bg-100;
  padding: 1rem 3rem;
  box-shadow: 0 2px 5px hsl(0, 0, 0, 0.2);
  // Place header above content, so that box-shadow is visible
  z-index: 10;

  &__top {
    @include mixins.align-center(flex-start);
    gap: 1.5rem;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;

    .icon {
      flex: 0 0 auto;
    }

    [type="search"] {
      margin-right: auto;
      width: clamp(300px, 45%, 500px);
    }

    .avatar {
      height: 2.75rem;
      width: auto;
    }

    .username {
      font-size: 1rem;
      font-weight: 700;
      min-width: 150px;
    }
  }

  &__bottom {
    @include mixins.align-center(flex-start);
    gap: 1.5rem;

    .avatar {
      height: 3.75rem;
      width: auto;
    }

    .alignment-wrapper {
      flex: 1;
      display: flex;
      align-items: flex-end;
      gap: 1.5rem;

      .greeting {
        margin-right: auto;
        font-weight: 750;

        &__text {
          font-size: 0.8rem;
          margin-bottom: 0.3rem;
        }

        &__name {
          font-size: 1.2rem;
        }
      }
    }
  }
}
