@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin align-center($justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin box-reset {
  padding: 0;
  margin: 0;
}
