@use "_reset";
@use "_dashboard";
@use "_sidebar";
@use "_header";
@use "_avatar";
@use "_forms";
@use "_buttons";
@use "_variables" as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: vars.$font-family;
}

a {
  text-decoration: none;
  color: inherit;
}
